body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'M PLUS 1', sans-serif;
}

/* header with logo and anchors */
#header{
    display: flex;
    border-bottom: 3px solid black;
       
}

.logo{
    font-size: 45px;
    color: #2112a1a2;
    margin: 15px;
    font-weight: bold;
}

.anchors{
    display: flex;
    margin:0 5% 0 auto;
    align-items: center;
    color: #2112a1a2;
    font-size: 24px;
    
}

.anchors > a{
    text-decoration: none;
}

/* cover image with tag line */
#cover{
    height: 550px;
    width: 100%;
    background-color: white; /* For browsers that do not support background images */
    background-image: url(./images/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 3px solid black;
} 


#tag{
    color: #150b6da2;
    
}

#tag > h1{
    margin: 0;
    padding: 4.5% 0 0 3%;
}

#tag > p{
    font-size: 24px;
    padding: 0 0 0 3%;
}
.sub_heading{
    display: flex;
    justify-content: center;
}
/* services section */
#services{
    display: block;
	width: 98%;
	align-items: center;
    justify-content;: center   
    box-shadow: ;
}
#serv_row1{
    display: flex;
    width: 98%;
}
#serv_row1_col1{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 0 5%;
}
#serv_row1_col2{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 0 2%;
}
.ad_box{
    border: 2px solid rgba(21, 11, 109, 0.25);
    border-radius: 8px;
    padding:0 2% 0 2%;
    box-shadow: 5px 5px 17px rgba(21, 11, 109, 0.45);
}


#services > h1{
    text-align: center;
    color: #150b6da2;
}