body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'M PLUS 1', sans-serif;
}

/* header with logo and anchors */
#header{
    display: flex;
    border-bottom: 3px solid black;
       
}

.logo{
    font-size: 45px;
    color: #2112a1a2;
    margin: 15px;
    font-weight: bold;
}

.anchors{
    display: flex;
    margin:0 5% 0 auto;
    align-items: center;
    color: #2112a1a2;
    font-size: 24px;
    
}

.anchors > a{
    text-decoration: none;
}

/* cover image with tag line */
#cover{
    height: 550px;
    width: 100%;
    background-color: white; /* For browsers that do not support background images */
    background-image: url(./images/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 3px solid black;
} 


#tag{
    color: #150b6da2;
    
}

#tag > h1{
    margin: 0;
    padding: 4.5% 0 0 3%;
}

#tag > p{
    font-size: 24px;
    padding: 0 0 0 3%;
}
.sub_heading{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
/* services section */
#services{
    display: block;
	width: 98%;
	align-items: center;
     
   
}
/*row 1 formatting*/
#serv_row1{
    display: flex;
    width: 98%;
}
#serv_row1_col1{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 4% 5%;
}
#serv_row1_col2{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 4% 2%;
}
/*row2 formatting*/
#serv_row2{
    display: flex;
    width: 98%;
}
#serv_row2_col1{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 0 5%;
}
#serv_row2_col2{
    display: inline;
    width: 40%;
    float: left;
    margin: 0 2% 0 2%;
}
.ad_box{
    border: 2px solid rgba(21, 11, 109, 0.25);
    border-radius: 8px;
    padding:0 2% 0 2%;
    box-shadow: 5px 5px 17px rgba(21, 11, 109, 0.45);
}
br.clearfix{
	clear:both;
	display:block;
	height:1px;
	margin:-1px 0 0 0;
}

#contact{
    display: flex;
    justify-content: center;
}
#closing{
    width: 30%;
    font-size: 28px;
    margin: 0 5% 0 3%;
}


/*contact form styling*/
#overlay{
    width: 36%;
    margin: 0 0 0 10%;
}
#contactForm{
    max-width: 500px;
    /*margin: 2rem auto;*/
    border: 2px solid rgba(21, 11, 109, 0.25);
    box-shadow: 5px 5px 17px rgba(21, 11, 109, 0.45);
    border-radius: 8px;
    padding: 3rem;
    background-color: white;
}

.center{
    background-color: white;
}
label{
    display: block;
    padding: 1rem 0 .5rem;
    font-size: 16px;
    background-color: white;
}

input, textarea{
    display: block;
    width: 100%;
    border: 2px solid #4F5D75;
    border-radius: 8px;
    padding:.5rem;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

#sendBtn{
    
    border: 2px solid white;
    border-radius: 8px;
    background-color:rgba(21, 11, 109, 0.45)
     ; 
    padding: .5rem;
    margin: 1rem 0;
    width: auto;
    cursor: pointer;
    transition: .3sec background-color ease;
}

#sendBtn:hover{
    background-color: rgba(52, 39, 173, 0.25);
}

.error{
    color: red;

}

.error-border{
    border: 1px solid red;
}

/* media exceptions */ 
@media only screen and (min-width: 960px) {

}

@media only screen and (max-width: 959px) {
	#contact{
        flex-direction:column; 
        align-items: center;
    }
    
    #closing{
        width: 98%; 
        text-align: center;
        margin: 0 0 5% 0;
    }
    #overlay{
        width: 70%;
        margin: 0 5% 5% 0;
    }

}

@media only screen and (max-width: 767px) {
	#closing{
        margin: 0 20% 0 20%;
    }
    #overlay{
        margin: 0 0 5% 0;
    }
}
/*
@media only screen and (max-width: 479px) {
	#body{width:100%;}
	.empCol1Cont{width:98%}
	.empCol2Cont{width:98%}
	.empCol1Cont input{width:100%;}
	.empCol2Cont input{width:100%;}
	.empiCol1Cont{width:98%}
	.empiCol2Cont{width:98%}
	.empiCol1Cont input{width:100%;}
	.empiCol2Cont input{width:100%;}
	#emp1_row1_col2{padding-top:10px;}
	#emp1_row6_col2{display:none;}

	.pers_col1{width: 98%;}
	.pers_col2{width: 98%;}
	.pers_col1 input{width: 100%;}
	.pers_col2 input{width: 100%;}

	#emergency input[type=text]{width:98%;}
	#emergency input[type=tel]{width:98%;}
	#education input[type=text]{width: 98%;}
	
	.schl_name{width: 100%;}
	.schl_row_1{display: flex; flex-direction: column; width: 98%;}
	.schl_row_2{display: flex; flex-direction: column; width: 98%;}
	.graduate{display: flex; flex-direction:column; width: 98%;}
}

/*